.heading{
    width: 100%;
    font-size: 23px;
    margin: 0;
    box-shadow: 5px 5px 5px red;
}
.heading_div1{
    float: none;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px aqua;
    border-radius: 20px;
    padding: 10px;
}
.heading_div2{
    font-size: 18px;
}
.result_para{
    box-shadow: 5px 5px 5px green;
    font-size: 20px;
}
.copyright_footer{
    bottom: 0;
    position: fixed;
    background-color: greenyellow;
    color: grey;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    margin-top: 150px;
}